<div class="card-deck">
  <div class="card">
    <img src="assets/images/coffee/1.jpg" class="card-img-top rounded-top" alt="...">
    <div class="card-body">
      
      <a href="/place" class="btn btn-outline-dark">Bengaluru</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/coffee/2.jpg" class="card-img-top rounded-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/coffee/3.jpg" class="card-img-top rounded-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
</div>